
@{
    ViewBag.Title = "Boleto Válido";
    Layout = "~/Views/Shared/_LayoutBoleto.cshtml";
}
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        $("#btn-verificar").on("click", function (ev) {
            ev.preventDefault();
            location.href = "@Url.Action("","boleto")/@ViewBag.Boleto.token/folio/" + $("#clave").val();
            return false;
        });
    });
</script>
}
<div id="contenido-correo">
    <p>
        <div id="boleto-logo"><img src="@Url.Content("~/Content/Imagenes/AHC_Logo-Correo.png")" /></div>
    </p>
    <h2 class="talonario-boletos-header con-flecha-llamada">Boleto <span class="boletos-conteo">@ViewBag.Boleto.folio</span></h2>
    <h3>¡Felicidades!</h3>
    <p class="boleto-descripcion">Tu boleto es válido. Te deseamos la mejor de las suertes en el sorteo.</p>
    <div id="boleto-detalle-contenido">
        <p class="boleto-contacto">
            Para más información, puedes revisar nuestro sitio web en<br /><a href="http://www.sorteoanahuac.mx/" target="_blank">http://www.sorteoanahuac.mx/</a>.
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#admin-modal">
                Administradores Anáhuac
            </button>
        </p>
    </div>
</div>
<div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="admin-modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <input type="hidden" id="token" value="@ViewBag.Boleto.token" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="admin-modalLabel">Administradores Anáhuac</h4>
                </div>
                <div class="modal-body">
                    Para verificar los datos del boleto, ingresa la clave de validación:<br />
                    <div class="form-group">
                        <input type="text" class="form-control" id="clave" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-verificar">Verificar</button>
                </div>
            </form>
        </div>
    </div>
</div>

